:host{
  display: block;
  width: 100%;

}

.card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
    box-shadow: -2px 2px 91px -31px rgba(0,0,0,0.3);
  -webkit-box-shadow: -2px 2px 91px -31px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 2px 91px -31px rgba(0,0,0,0.3);
  overflow: hidden;
}
.mat-card-image-container {
  margin: 0;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.mat-card-image{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  z-index: 10;
  box-shadow: none;
  border-bottom: 0.5px solid var(--light-gray-color);
  border-radius: 1rem;
}
.mat-card-image.cover{
  object-fit: cover;
}
.mat-card-image-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  position: absolute;
  top:0;
  left: 0;
  filter: blur(5px);
}
.institution-card {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 1rem;
    border: none;
    box-shadow: none;
}

.institution-card-content {
  display: flex;
  width: 100%;
  border-bottom: solid ;
  border-width: 1px;
  justify-content: space-between;
  flex-direction: column;
  border: none;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
}

.institution-card-content h2{
  width: 100%;
  margin: 0;
}
.institution-card-content h3{
  border: 1px solid var(--dark-gray-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0;
}

.institution-card-button{
  display: flex;
  width: 100%;
  justify-content: end;
}
@media (min-width: 660px) {
  .card-container{
    border-radius: 1rem;
  }
  .institution-card{
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    height: 40vh;
  }
  .institution-card-content{
    padding: 1rem;
    width: 100%;
  }
  .institution-card-content button{
    align-self: flex-end;
  }

  .mat-card-image-container {
    width: 550px;
    height: auto;
  }

  .mat-card-image{
    border-bottom: none;
    border-right: 0.5px solid var(--light-gray-color);
    border-radius: 1rem;
  }
}

@media (min-width: 1000px) {
  .institution-card{
    height: 40vh;
  }
  .mat-card-image-container {
    width: 600px;
    height: auto;
  }
  .mat-card-image{
    border-bottom: none;
    border-right: 0.5px solid var(--light-gray-color);
    border-radius: 1rem;
  }
}

@media (min-width: 1200px) {
  .institution-card{
    height: 40vh;
  }
  .mat-card-image-container {
    width: 650px;
    height: auto;
  }

  .mat-card-image{
    border-bottom: none;
    border-right: 0.5px solid var(--light-gray-color);
    border-radius: 1rem;
  }
}