<div class="card-container">
  <mat-card class="institution-card">
    <div class="mat-card-image-container">
      <img class="mat-card-image" [ngClass]="{'cover':!isInstitution()}" [src]="entity?.image">
    </div>
    <mat-card-content class="institution-card-content">
        <h2>{{entity?.title}}</h2>
        <h3>{{entity?.category}}</h3>
        <p>{{entity?.description}}</p>
        <button mat-raised-button color="primary" (click)="navigateToDetail(entity?.id)">{{goToButtonText()}}</button>
    </mat-card-content>
  </mat-card>
</div>
