
<article [ngClass]="{'show':showDay}">
    <h3>{{day}} <i class="fa fa-chevron-down" (click)="toggleShowDay()" ></i></h3>
    <section>
        <ul>
            <li *ngFor="let time of times">
                <span>{{time.startTime}} a {{time.endTime}}</span>
                <button *ngIf="time.isActive" mat-raised-button color="primary">Inscribirse</button>
                <button *ngIf="!time.isActive" mat-raised-button class="secondary-button">Desuscribirse</button>
            </li>
        </ul>
    </section>
</article>
