<!-- <button (click)="toggleModal()">Inscribirse</button> -->

<div class="modal-overlay">

  <div class="modal-content">
    <header>
      <h2>Seleccione día y horario</h2>
      <button class="secondary-button" (click)="closeModalEvent()">Cerrar</button>
    </header>

    <section  class="assignment-overlay">
      <app-assignment-day-card *ngFor="let day of getAllDays()" [day]="day" [times]="getAllTimes(day)"></app-assignment-day-card>
    </section>

    <div class="buttons-overlay">
      <!-- <button>Inscribirse</button> -->
    </div>

  </div>

</div>
