<!-- <button (click)="toggleModal()">Inscribirse</button> -->

<div class="modal-overlay">

  <div class="modal-content">
    <header>
      <button class="secondary-button" (click)="closeModalEvent()">Cerrar</button>
      <h2>Seleccione día y horario</h2>
      <section class="date-picker">

        <!-- <input type="date" [(ngModel)]="selectedDate" (ngModelChange)="updateSchedule()" > -->
        <input matInput [matDatepicker]="picker" (dateChange)="updateSchedule($event.value)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  [dateClass]="dateClass" (selectedChange)="updateSchedule($event)" #picker></mat-datepicker>
      </section>
      <label>
        {{spanishSelectedDate()}}
      </label>
    </header>




    <section  class="assignment-overlay" *ngIf="hasTimes()">
      <app-assignment-day-card [times]="getAllTimes()" ></app-assignment-day-card>
    </section>

    <section  class="assignment-overlay" *ngIf="!hasTimes()">
      <h4>La fecha seleccionada no tiene horarios</h4>
    </section>

  </div>

</div>
