main{
    padding: 1rem;
    min-height: 100vh;
}

app-search-bar{
    width: 100%;
}

.reserve-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
}

.reserve-cards{
    display: flex;
    gap: 1rem;
}

app-reserve-card{
    width: 190%;
}

@media (min-width: 1000px) {

    main{
        padding: 1rem 5rem;
        min-height: 100vh;
    }
}