main{
    padding: 2rem 0;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: center;
    align-items: stretch;
}

main > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
    min-height: 50vh;
    row-gap: 1rem;

}
main > header h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main > header i{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--light-gray-color);
}

main > header > img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
}

main > header > section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}
main > header > section .header-category{
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-lighter-2);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--light-color);
}
main > header > section> p{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
}

main > section{
    width: 100%;
}

@media (min-width: 530px) {
    main > header{
        min-height: 40vh;
        align-items: stretch;
    }
    main > header > img{
        width: 45%;
        height: 100%;
    }

    main >header > section{
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 2rem;
    }
}


@media (min-width: 900px) {
    main > header{
        min-height: 50vh;
    }
}