<main>
    <header>
        <img [src]="entity?.image" alt="entity?.name">
        <section>
            <h2>{{ entity?.title }} <i class="fa fa-arrow-up-from-bracket"></i></h2>

            <!-- <button mat-raised-button color="primary" (click)="goTo('cursos')">Ver cursos</button> -->
            <span class="header-category">{{entity?.category}}</span>
            <p>{{ entity?.description }}</p>
        </section>
    </header>
    <section *ngIf="isInstitution()">
            <app-entity-card *ngFor="let child of entity?.children" [entity]="child"></app-entity-card>
    </section>

    <section *ngIf="!isInstitution()">
        <button mat-raised-button color="primary" (click)="openAssignmentsModal()">Ver horarios</button>
    </section>
    <app-assignments-modal *ngIf="showAssignmentsModal" [course]="entity" (closeModal)="closeAssignmentsModal()"></app-assignments-modal>

</main>