main{
    padding: 1rem 2rem;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

main > p {
    padding: 2rem 0;
    margin: 0;
}

main > header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    gap: 1rem;
    border-bottom: 0.1rem solid var(--dark-gray-color);
}
main > header h2{
    font-weight: 500;
    margin:0;
}
main > header i{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--light-gray-color);
}

main > header > img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 1rem;
}

main > header > section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
}
main > header > section .header-category{
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-gray-color);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--dark-gray-color);
}
main > header > section> p{
    width: 100%;
    font-weight: 300;
    margin: 0;
}

main > section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main .entity-list{
    gap: 2rem;
    justify-content: space-between;
}

.button-container{
    padding: 2rem 0 0 0 ;
}
@media (min-width: 530px) {
    main > header{
        min-height: 20vh;
        align-items: stretch;
    }
    main > header > img{
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }

}


@media (min-width: 900px) {
    main{
        padding: 1rem 20rem;
    }

    main > header{
        min-height: 20vh;
    }

    main > header > img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}