<section (click)="goToCourse()" *ngIf="reserve" class="reserve-container">
    <section class="detail">
        <div class="status" [ngClass]="{'complete': reserve.status == 'FINISHED'}">
            <p>{{getStatus()}}</p>
        </div>
        <h3>{{reserve.courseName}}</h3>
        <p>en {{reserve.institutionName}}</p>
    </section>
    <section class="schedule">
        <p>{{getDayOfWeek()}}</p>
        <h2>{{getDayOnMonthFormat()}}</h2>
        <p>{{reserve.hour}}</p>
        <button *ngIf="reserve.status == 'CONFIRMED'" (click)="unsubscribe($event)" type="button" mat-raised-button class="secondary-button">Desinscribirse</button>
        <button *ngIf="reserve.status == 'FINISHED'" (click)="toggleShowModal($event)" type="button" 
            mat-raised-button class="review-button">Calificar</button>
    </section>
</section>

<app-review-modal *ngIf="showModal" [courseId]="reserve?.courseId" (closeModal)="toggleShowModal()"></app-review-modal>