<article class="admin-panel">
    <div class="admin-buttons">
        <h3>Panel de administrador</h3>
        <div class="admin-metrics">
            <app-admin-button [style]="'metric'" [icon]="'fa-solid fa-chart-simple'" ></app-admin-button>
            <app-admin-button [style]="'metric'" [icon]="'fa-solid fa-calendar-days'" ></app-admin-button>
            <app-admin-button [style]="'metric'" [icon]="'fa-solid fa-users'" ></app-admin-button>
        </div>
        <app-admin-button [style]="'button'" [type]="'institucion'" ></app-admin-button>
        <app-admin-button [style]="'button'" [type]="'curso'" ></app-admin-button>
        <!-- <app-admin-button [style]="'button'" [type]="'clase'" ></app-admin-button> -->
    </div>
    <div class="admin-metrics">
        <h3>Cursos</h3>
        <div  *ngFor="let c of courses" class="entity">
            <div class="main-info">
                {{c.title}}
                <span>Categoria: {{c.category}}</span>
            </div>
            <div class="entity-actions">
                <button class="stats-button" mat-icon-button (click)="goToStats(c.id)">
                    <mat-icon class="stats-icon">query_stats</mat-icon>
                  </button>
                <button class="delete-button" mat-icon-button (click)="deleteCourse(c.id)">
                  <mat-icon class="delete-icon">delete</mat-icon>
                </button>
            </div>
        </div>
        <h3>Instituciones</h3>
        <div  *ngFor="let i of institutions" class="entity">
            <div class="main-info">
                {{i.title}}
                <span>Categoria: {{i.category}}</span>
            </div>
            <div class="entity-actions">
                <button class="delete-button" mat-icon-button (click)="deleteInstitution(i.id)">
                  <mat-icon class="delete-icon">delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</article>
