<article class="admin-panel">
    <h3>Panel de administrador</h3>
    <div class="admin-buttons">
        <app-admin-button [style]="'button'" [type]="'institucion'" ></app-admin-button>
        <app-admin-button [style]="'button'" [type]="'curso'" ></app-admin-button>
        <app-admin-button [style]="'button'" [type]="'clase'" ></app-admin-button>
    </div>
    <div class="admin-metrics">
        <app-admin-button [style]="'metric'" [icon]="'fa-solid fa-chart-simple'" ></app-admin-button>
        <app-admin-button [style]="'metric'" [icon]="'fa-solid fa-calendar-days'" ></app-admin-button>
        <app-admin-button [style]="'metric'" [icon]="'fa-solid fa-users'" ></app-admin-button>
    </div>
</article>
