.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

input {
  width: 75%;
  height: 100%;
  border-radius: var(--secondary-border-radius);
  padding: 1rem;
  border: 0.1rem solid var(--light-color);
  border-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

input:focus {
  background-color: var(--dark-gray-color);
  color: var(--light-color);
}

button {
  padding: 1rem;
  height: 100%;
  border-radius: var(--secondary-border-radius);
  background-color: var(--dark-gray-color);
  border-color: var(--dark-gray-color);
  color: var(--light-color);
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 80%;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 426px) {
  .search-bar {
    flex-direction: column;
  }

  input {
    width: 95%;
    height: auto;
  }

  button {
    width: 95%;
  }
}
