<main *ngIf="hasSuscriptions()">
    <section class="subscription">
        <h3>Suscripciones</h3>
        <article *ngFor="let sub of filterByStatus('CONFIRMADO')">
            <app-reserve-card [reserve]="sub"></app-reserve-card>
        </article>
    </section>
    <section class="subscription">
        <h3>Finalizados</h3>
        <article *ngFor="let sub of filterByStatus('FINALIZADO')">
            <app-reserve-card [reserve]="sub"></app-reserve-card>
        </article>
    </section>
</main>

<main *ngIf="!hasSuscriptions()">
    <h2>Aún no tiene suscripciones</h2>
</main>