section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  column-gap: 5rem;
  row-gap: 2rem;
}

a {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--primary-color);
  padding: var(--primary-padding);
  border-radius: var(--secondary-border-radius);
  text-decoration: none;
}

a:hover {
  background-color: var(--light-color);
  transition: all 0.3s ease-in-out;
}
