<form class="form-overlay" (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>
    <h2>Crear usuario</h2>

    <div class="form-group">
      <label for="name">Nombre</label>
      <input id="name" type="text" name="name" [(ngModel)]="newUser.name" class="form-input" required #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        <div *ngIf="name.errors?.['required']">El nombre es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Apellido</label>
      <input id="lastName" type="text" name="lastName" [(ngModel)]="newUser.lastName" class="form-input" required #lastName="ngModel">
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
        <div *ngIf="lastName.errors?.['required']">El apellido es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" name="email" [(ngModel)]="newUser.email" class="form-input" required #email="ngModel">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']">El email es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" name="password" [(ngModel)]="newUser.password" class="form-input" required #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors?.['required']">La contraseña es obligatoria</div>
      </div>
    </div>

    <app-loader *ngIf="showLoader"></app-loader>
    <button type="submit" *ngIf="!showLoader" class="btn" [disabled]="myForm.invalid">Registrarse</button>
</form>
