<main>
    <form #assignmentForm="ngForm" class="form-overlay" (ngSubmit)="create($event)">

        <h2>Asigna los horarios a tu curso</h2>


        <div class="form-group">
          <label for="quantityAvailable">Cantidad de suscripciones permitidas:</label>
          <input id="quantityAvailable" type="number" name="quantityAvailable" oninput="this.value=Math.round(this.value)" [(ngModel)]="assignment.quantityAvailable" class="form-input" required min="1" #quantityAvailable="ngModel">
            <div *ngIf="quantityAvailable.invalid && (quantityAvailable.dirty || quantityAvailable.touched)" class="error">
              <div *ngIf="quantityAvailable.errors?.['required']" class="error">Ingrese un Número válido</div>
              <div *ngIf="checkQuantityValue()">Ingrese un Número válido mayor a 0</div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input id="price" type="number" name="price" oninput="this.value=Math.round(this.value)"  min="1"[(ngModel)]="assignment.price" class="form-input" required #price="ngModel">
            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="error">
              <div *ngIf="price.errors?.['required']" class="error">Ingrese un Número válido</div>
              <div *ngIf="checkPriceValue()">Ingrese un Número válido mayor a 0</div>
            </div>
            
        </div>

        <div class="form-group">
            <label for="startDate">fecha de inicio del curso:</label>
            <input id="startDate" [min]=minStartDateValue() (onchange)="checkStartDateValue()" type="date" name="startDate" [(ngModel)]="assignment.startDate" class="form-input" required #startDate="ngModel"/>
            <div *ngIf="checkStartDateValue()" class="error">Ingrese una fecha mayor a hoy como fecha de inicio del curso</div>
            <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="error">
              <div *ngIf="startDate.errors?.['required']" class="error">Ingrese una fecha que exista</div>
            </div>
            
      
          <label for="endDate">fecha de fin del curso:</label>
          <input id="endDate" [min]=minEndDateValue() (onchange)="checkEndDateValue()"  type="date" name="endDate" [(ngModel)]="assignment.endDate" class="form-input" required #endDate="ngModel">
            <div *ngIf="checkEndDateValue()" class="error" ng-cloak>Ingrese una fecha mayor a la fecha de inicio del curso</div>
            <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="error">
              <div *ngIf="endDate.errors?.['required']" class="error">Ingrese una fecha que exista</div>
            </div>
      </div>

        <div class="form-group">
          <label for="days">Seleccione los días en los que se brinda el curso:</label>
          <div class="checkbox-container">
            <div class="checkbox-item">
            <input
                type="checkbox"
                placeholder=0
                id="lunes"
                [(ngModel)]="mondaySelected"
                name="lunes"
                class="form-input"
                value="MONDAY"
                #lunesField="ngModel"
                (change)="daySelectedCheck()"
                >
            <label for="lunes">Lunes</label>
            </div>
            <div class="checkbox-item">
            <input
                type="checkbox"
                placeholder=1
                id="martes"
                [(ngModel)]="tuesdaySelected"
                name="martes"
                class="form-input"
                value="Martes"
                #martesField="ngModel"
                (change)="daySelectedCheck()">
              <label for="martes">Martes</label>
            </div>
            <div class="checkbox-item">
              <input
                type="checkbox"
                placeholder=2
                id="miercoles"
                [(ngModel)]="wednesdaySelected"
                name="miercoles"
                class="form-input"
                value="miercoles"
                #miercolesField="ngModel"
                (change)="daySelectedCheck()">
              <label for="miercoles">Miercoles</label>
            </div>
            <div class="checkbox-item">
              <input
                type="checkbox"
                placeholder=3
                id="jueves"
                [(ngModel)]="thursdaySelected"
                name="jueves"
                class="form-input"
                value="jueves"
                #juevesField="ngModel"
                (change)="daySelectedCheck()">
              <label for="jueves">Jueves</label>
            </div>
            <div class="checkbox-item">
              <input
                type="checkbox"
                placeholder=4
                id="viernes"
                [(ngModel)]="fridaySelected"
                name="viernes"
                class="form-input"
                value="viernes"
                #viernesField="ngModel"
                (change)="daySelectedCheck()">
              <label for="viernes">Viernes</label>
            </div>
            <div class="checkbox-item">
              <input
                type="checkbox"
                placeholder=5
                id="sabado"
                [(ngModel)]="saturdaySelected"
                name="sabado"
                class="form-input"
                value="sabado"
                #sabadoField="ngModel"
                (change)="daySelectedCheck()">
              <label for="sabado">Sabado</label>
            </div>
            <div class="checkbox-item">
              <input
                type="checkbox"
                placeholder=6
                id="domingo"
                [(ngModel)]="sundaySelected"
                name="domingo"
                class="form-input"
                value="domingo"
                #domingoField="ngModel"
                (change)="daySelectedCheck()">
              <label for="domingo">Domingo</label>
            </div>
          </div>          
        </div>
        <div *ngIf="!newTimeOnPage && !atLeastOneDaySelected" class="error">
          Seleccione al menos un día para el curso.
        </div>

        <div class="form-group">
          <label for="startTime">Horario de inicio del curso:</label>
          <input id="startTime" type="time" valueAsDate="new Date()" name="startTime" [(ngModel)]="assignment.startTime" class="form-input" required #startTime="ngModel">
            <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="error">
              <div *ngIf="startTime.errors?.['required']" class="error">Ingrese un horario válido</div>
            </div>
          
        </div>

        <div class="form-group">
          <label for="endTime">Horario de fin del curso:</label>
          <input id="endTime" type="time" valueAsDate="new Date()" name="endTime" (onchange)="minEndTimeValue()" [(ngModel)]="assignment.endTime" (input)="minEndTimeValue()" class="form-input" required #endTime="ngModel">
          <div *ngIf="minEndTimeValue()" class="error" ng-cloak>Ingrese un horario posterior al horario de inicio</div>
            <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)" class="error">
              <div *ngIf="endTime.errors?.['required']" class="error">Ingrese un horario válido</div>
            </div>
          
        </div>

        <div class="form-group">
          <label for="recurrenceWeek">Recurrencia:</label>
          <select class="form-input" id="recurrenceWeek" [(ngModel)]="assignment.recurrenceWeek" name="college_name" required #recurrenceWeek="ngModel">
            <option value="WEEKLY">Semanal</option>
            <option value="BIWEEKLY"> Quincenal</option>
            <option value="MONTHLY">Mensual</option>
          </select>
          <div *ngIf="recurrenceWeek.invalid && (recurrenceWeek.dirty || recurrenceWeek.touched)" class="error">
            <div *ngIf="recurrenceWeek.errors?.['required']" class="error">seleccione una opción</div>
          </div>
        </div>  
      <button type="submit" class="btn" >Asignar horario</button>

    </form>
</main>